---
import Base from "../layouts/Base.astro";
import GeoBackground from "../components/GeoBackground.astro";
import Jellyfish from "../components/Jellyfish.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <GeoBackground />
  <Jellyfish />
  <main>
    <Hero />
    <About />
    <Projects />
  </main>
  <Footer />
</Base>
