@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Oxygen', sans-serif;
}

.bg-mouseover-blur {
  transition: all 0.4s;
  backdrop-filter: none;
}

.bg-mouseover-blur:hover {
  backdrop-filter: invert(1) blur(1px);
}